@font-face {
  font-family: "bebasNeue";
  src: url(../fonts/BebasNeue-Regular.woff) format(woff);
}
/* style utama */
body {
  font: 18px/36px "bebasNeue", "Arial Narrow", arial, sans-serif;
  background-color: white;
  font-weight: 700;
}

h1 {
  font-size: 80px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}
.container {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}
.gallery {
  width: 450px;
  margin: auto;
}
.thumb {
  width: 120px;
  border-radius: 50%;
  transition: 0.3s;
}
.gallery li {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #666;
  float: left;
  margin-right: 10px;
  position: relative;
}

.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(29, 29, 29, 0.384);
  position: absolute;
  top: 0;
  color: white;
  opacity: 0;
  transition: 0.3s;
  transform: scale(0) rotate(0);
}
.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.gallery li a:hover .thumb {
  transform: scale(1.2);
  transform: scale(1.2) translateY(12px);
}

.clear {
  clear: both;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  box-shadow: 0 -20px 53px -7px rgb(0 0 0 / 24%);
  transform: translateY(1000px);
  transition: 0.5s;
  text-align: center;
  padding: 50px;
  border-radius: 30px 30px 0 0;
}
.overlay:target {
  bottom: 0;
  right: 0;
  transform: translateY(50px);
}
.overlay:target .full {
  height: 85%;
  margin-top: 40px;
  animation: fullimg 1.2s;
}
.overlay:target .next,
.overlay:target .prev {
  animation: fadeAja 0.5s 0.5s forwards;
}
.close {
  position: absolute;
  left: 50%;
  top: 12px;
  background-color: #404040;
  padding: 8px 15px;
  color: white;
  border-radius: 10px;
  margin-left: -35px;
  text-decoration: none;
}

.next,
.prev {
  font-size: 100px;
  text-decoration: none;
  font-size: 100px;
  position: absolute;
  top: 40%;
  text-decoration: none;
  right: 10%;
  opacity: 0;
}
.prev {
  left: -900px;
}

@keyframes fadeAja {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fullimg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
